[alias]
  added = difftool --cached
  br = branch
  ci = commit
  co = checkout
  default = !git switch $(git symbolic-ref refs/remotes/origin/HEAD | cut -d/ -f4-)
  dft = difftool
  lg = log --abbrev-commit --date=iso --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset'
  pr = !sh -c 'git fetch origin pull/$0/head:pr-$0 && git co pr-$0'
  prune = fetch --prune
  showtool = "!f() { git difftool $1^ $1; }; f"
  st = status --branch --short
  stash-all = stash save --include-untracked
  undo = reset --soft HEAD^
  up = pull --all --rebase --autostash

[branch]
  autoSetupRebase = always

[color]
  ui = auto

[commit]
  verbose = true

[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  fsmonitor = true

[diff]
  colorMoved = default
  external = difft
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[gist]
  private = true

[github]
  user = chastell

[help]
  autoCorrect = 1

[merge]
  conflictStyle = zdiff3

[pager]
  difftool = true

[push]
  default = current
  followTags = true
  useForceIfIncludes = true

[rebase]
  autoSquash = true
  updateRefs = true

[rerere]
  enabled = 1

[status]
  showUntrackedFiles = all

[url "git@github.com:"]
  insteadOf = gh:

[user]
  email = chastell@chastell.net
  name = Piotr Szotkowski

[web]
  browser = xdg-open

[includeIf "gitdir:~/src/github.com/Shopify/"]
  path = ~/.gitconfig.shopify

[include]
  path = ~/.config/dev/gitconfig

[include]
  path = ~/.gitconfig.spin
