[alias]
  br = branch
  ci = commit
  co = checkout
  lg = log --abbrev-commit --date=relative --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
  pr = !sh -c 'git fetch origin pull/$0/head:pr-$0 && git co pr-$0'
  st = status --branch --short
  up = pull --all --rebase --autostash

[branch]
  autosetuprebase = always

[color]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[diff]
  algorithm = patience

[fetch]
  fsckobjects = true

[gist]
  private = true

[github]
  user = chastell

[help]
  autocorrect = 1

[merge]
  conflictstyle = diff3

[push]
  default = current

[rebase]
  autosquash = true

[receive]
  fsckobjects = true

[rerere]
  enabled = 1

[transfer]
  fsckobjects = true

[url "git@github.com:"]
  insteadOf = gh:

[user]
  email = chastell@chastell.net
  name = Piotr Szotkowski

[web]
  browser = xdg-open
