[alias]
  br = branch
  ci = commit
  co = checkout
  st = status --branch --short

[color]
  ui = auto

[github]
  user = chastell
  token = …

[push]
  default = current

[rerere]
  enabled = 1

[user]
  name = Piotr Szotkowski
  email = chastell@chastell.net
